body {
    background-color: #294e15;
    background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.9) 80%);
    position: relative;
    background-repeat: repeat-y;
    background-size: cover;
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: fit-content;
    background-image: url(images/black_mamba.webp); /* Free pattern thanks to toptal.com */
    background-repeat: repeat-y;
    opacity: 0.2;
    pointer-events: none;
  }

.main {
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
margin-top: 100px;
}

h1 {
    color: rgb(29, 163, 58);
    margin: auto;
    text-align: center;
}
p {
    color:rgb(37, 37, 37);
}

#cards {
    color:rgb(48, 48, 48);

}



.player, .dealer {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    min-width: 100px;
    min-height: 200px;
}

#continue {
    margin-top: 20px;
    text-align: center;
    color:azure;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
}
